.header-bottom {
    height: 70vh;
    /* color: #fff; */
    padding: 15px;
    /* z-index: 5; */
    background-image: url(../src/img/bg.png);
    color: #fff;
    width: 100%;
}

/* .left-side {
    background-image: url(../img/bg-header.png);
    height: 50vh;
    width: 100%;
}

.right-side {
    height: auto;
    width: 100%;
} */


.img-height {
    height: 450px;
    padding: 20px;
}

#contactForm .control-group input {
    background-color: rgb(32, 56, 48);
    color: #fff;
}
#contactForm .control-group input ::placeholder {
    color: #fff;
}

.footer {
    background-color: rgb(54, 31, 54);
    color: #fff;
    height: 20vh;
}
.footer p {
    align-items: center;
    justify-content: center;
    display: flex;
}