
.App {
  background-color: #282c34;
  color: #fff;
}
.App div {
  height: 40vh;
}

.blog {
  background-color: rgb(50, 131, 131);
  height: 40vh;
  padding: 15px 0;
  color: #fff;
}
.blog button {
  background-color: green;
  border-radius: 20px;
  border: none;
}